.hero_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	/* border: 1px solid lightcoral; */
	/* background-image: url('https://res.cloudinary.com/freyman/image/upload/v1635417552/grp1-ecom/images/hero_ytxosf.jpg'); */
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	margin-top: 0em;
  }
  .project {
	margin-top: 0em;
	width: 100%;
	height: 100%;
	display: flex;
	/* border: 1px solid red; */
  }
  .project__slider {
	display: flex;
	width: 100%;
	height: 50%;
	/* border: 1px solid green; */
  }
  .slick-arrow {
	display: none !important;
  }
  .project__img {
	width: 100%;
	height: 100%;
	/* border: 1px solid blue; */
  }
  .hero_section--content {
	position: absolute;
	left: 1%;
	top: 18%;
	display: block;
	align-items: center;
	width: 90%;
	margin: 12em auto 7em 4em;
	/* border: 1px solid forestgreen; */
  }
  
  .hero_section--title {
	font-size: 3em;
	font-weight: 400;
	margin-bottom: 0.3em;
  }
  .hero_section--text {
	font-size: 1.4em;
	width: 30em;
	word-wrap: break-word;
	margin-bottom: 1.7em;
	color: rgba(0, 0, 0, 0.7);
  }
  
  .hero_section--button {
	font-size: 1.2em;
	font-weight: 500;
	color: white;
	background-color: rgb(250, 185, 189);
	padding: 0.5em 1em;
	border: none;
	cursor: pointer;
	transition: background-color 0.5s;
  }
  .hero_section--button:hover {
	background-color: rgb(247, 127, 135);
  }
  .hero__pagination {
	display: flex;
	justify-content: space-between;
	width: 150px;
	padding-bottom: 1.5em;
  }
  .hero__pagination--before {
	width: 50px;
	height: 5px;
	background: rgb(250, 185, 189);
	cursor: pointer;
	margin-right: 2em;
  }
  .hero__pagination--after {
	width: 20px;
	height: 5px;
	background: white;
	cursor: pointer;
	margin: 0.5em;
  }
  
  @media (max-width: 1280px) {
	.hero_section--content {
	  width: 40%;
	  top: 10%;
	}
  }
  @media (max-width: 1110px) {
	  
	  .hero_section--text {
		font-size: 1.2em;
		width: 27em;
	  }
	}
  @media (max-width: 1080px) {
	  .hero_section{
		  margin-top: .5em;
	  }
  }
  
  @media (max-width: 1043px) {
	.hero_section--content {
	  width: 50%;
	  margin: 10em auto auto 3.5em;
	}
	.hero_section--title {
	  font-size: 2.5em;
	}
	.hero_section--text {
	  font-size: 1.2em;
	}
	.hero_section--button {
	  padding: 0.4em 0.7em;
	  font-size: 1.1em;
	}
  }

  @media (max-width: 900px) {
	.hero_section--content{
		top: 4%;
		width: 50%;
		margin: 8em auto 7em 1.5em;
		/* border: 1px solid red; */
	}
	.hero_section--title{
		font-size: 2.5em;
	}
	.hero_section--text{
		font-size: 1em;
		width: 23em;
	}
}
  @media (max-width: 880px) {
	  .hero_section{
		  margin-top: 0em;
	  }
  }
  @media (max-width: 843px) {
	.hero_section--button {
	  padding: 0.4em 0.8em;
	  font-size: 1em;
	}
  }
  @media (max-width: 785px) {
	  .hero_section{
		  margin-top: -2em;
	  }
	.hero_section--content {
	  width: 50%;
	  margin: 5em auto 7em 1.5em;
	}
	.hero_section--title {
	  font-size: 2em;
	}
	.hero_section--text {
	  font-size: 1em;
	}
	.hero_section--button {
	  padding: 0.4em 0.7em;
	  font-size: 1em;
	}
  }
  @media (max-width: 768px) {
	  .hero_section{
		  margin-top: -.2em;
	  }
  }
  
  @media (max-width: 652px) {
	.hero_section--content {
	  width: 40%;
	}
	.hero_section--title {
	  font-size: 1.5em;
	}
	.hero_section--text {
	  font-size: 0.75em;
	}
	.hero_section--button {
	  padding: 0.2em 0.5em;
	  font-size: 0.7em;
	}
  }
  @media (max-width: 534px) {
	.hero_section--content {
	  width: 40%;
	}
	.hero_section--title {
	  font-size: 1.2em;
	}
	.hero_section--text {
	  font-size: 0.5em;
	  margin-bottom: 0;
	}
	.hero_section--button {
	  padding: 0.2em 0.5em;
	  font-size: 0.6em;
	}
	.hero__pagination {
	  width: 45px;
	}
	.hero__pagination--before,
	.hero__pagination--after {
	  width: 20px;
	  height: 3px;
	}
  }
  @media (max-width: 432px) {
	  .hero_section--content{
		margin: 3em auto 7em 1.5em;
	  }
	.hero_section--title {
	  font-size: 1em;
	}
	.hero_section--text {
	  font-size: 0.45em;
	}
	.hero_section--button {
	  font-size: 0.55em;
	}
	.hero__pagination {
	  margin-top: 1.5em;
	}
  }
  @media (max-width: 340px) {
	  .hero_section--content{
		  top: 0;
	  }
  }