.hero__container {
	/* height: 100vh; */
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	padding-bottom: 70px;
	/* background-color: #ECE2E3; */
	background-repeat: no-repeat;
	background-size: auto;
	background-image: url("https://res.cloudinary.com/freyman/image/upload/v1639079919/grp1-ecom/images/hero-bg_mcskvs.jpg");
}

.hero__img--container {
	flex: 1;
	/* height: 100%; */
	/* margin: 10px auto 0; */
	padding: 0;
}

.slider__image__holder {
	margin-top: 50px;
	max-width: 600px;
}

.hero__img {
	width: 85%;
	height: auto;
}

.hero__info {
	flex: 1;
	padding-left: 70px;
	margin: 150px auto 0;
}

.hero__title {
	font-size: 70px;
	font-weight: 300;
}

.hero__desc {
	max-width: 500px;
	margin: 30px 0px;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1.7px;
}

@media (max-width: 500px) {
	.hero__info {
		padding-left: 0px !important;
	}

	.hero__desc {
		max-width: 400px;
	}

	.hero__title {
		font-size: smaller !important;
	}
}

@media (max-width: 700px) {
	.hero__container {
		flex-direction: column-reverse;
		text-align: center;
		background-repeat: no-repeat;
		background-size: auto;
		background-image: url("https://res.cloudinary.com/freyman/image/upload/v1639259070/grp1-ecom/images/hero_ytxosf_tyclb4.jpg");
	}
	.hero__img--container {
		padding-top: 0;
		padding-bottom: 0;
		/* margin-top: 60px !important; */
	}

	.slider__image__holder {
		margin-top: 10px !important;
	}

	.hero__info {
		padding-left: 0px;
		margin-top: 30px !important;
	}
}

@media (max-width: 748px) {
	.hero__img--container {
		margin: 50px auto 0;
	}

	.hero__info {
		/* margin: 100px auto 0 !important; */
	}

	.hero__button {
		padding: 8px !important;
		font-size: 15px !important;
	}
}

@media (max-width: 785px) {
	.hero__img--container {
		/* margin: 80px auto 0; */
	}

	.hero__info {
		/* margin: 70px auto 0 !important; */
	}

	.hero__button {
		padding: 8px !important;
		font-size: 15px !important;
	}
}

@media (max-width: 1050px) {
	.hero__info {
		flex: 1;
		/* margin-top: -30px !important; */
	}
	.hero__title {
		font-size: 35px !important;
		font-weight: 400 !important;
	}
	.hero__desc {
		font-size: 15px !important;
		font-weight: 300;
		letter-spacing: 1.7px;
	}
}

@media (max-width: 1180px) {
	.hero__info {
		flex: 1;
		/* margin-top: 30px; */
	}
	.hero__title {
		font-size: 40px !important;
		font-weight: 400 !important;
	}
}

@media (max-width: 1280px) {
	.hero__info {
		flex: 1;
		/* margin-top: 150px; */
	}

	.hero__title {
		font-size: 50px;
		font-weight: 300;
	}

	.hero__desc {
		margin: 25px 0px;
		font-size: 20px;
		font-weight: 400;
		letter-spacing: 1.5px;
	}
}

.hero__button {
	font-size: 1.2em;
	font-weight: 500;
	color: white;
	background-color: rgb(250, 185, 189);
	padding: 0.5em 1em;
	border: none;
	cursor: pointer;
	transition: background-color 0.5s;
}

.hero__button:hover {
	background-color: rgb(247, 127, 135);
}

/* .hero__pagination {
	display: inline-block;
	width: 90px;
	padding-bottom: 1.5em;
	text-align: center;
}
.pagination {
	width: 40px;
	height: 5px;
	background: rgb(88, 87, 87);
	cursor: pointer;
	margin: 15px 7px 0px;
	text-align: center;
}
.pagination.active {
	background: #fab9bd;
} */
