.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0em;
    padding: .65em 3.2em .65em 4.2em;
    color: whitesmoke;
    font-size: 1em;
    z-index: 100;
    background-color: #fabcbf;
}
.header1__left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
}
.header1__right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0;
    width: 70%;
    /* border: 1px solid green; */
}
.header1__right--searchbox{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    /* margin-right: 2em; */
}
.header1__right--icon{
    margin-right: .3em;
}
.header1__right--cart{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* flex: 1; */
    width: 40%;
    /* border: 1px solid firebrick; */
}
.header__drawer{
    background-color: rgba(219, 200, 201, 0.8) !important;
}

@media (max-width: 1349px) {
    .header1__right--cart{
        width: 45%;
    }
}
@media (max-width: 1232px) {
    .header1__right--cart{
        width: 50%;
    }
}
@media (max-width: 1124px) {
    .header1{
        /* width: 55%; */
        font-size: .9em;
    }
    .header1__right--cart{
        width: 55%;
    }
}

@media (max-width: 942px) {
    .header1, .header1__right{
        /* width: 55%; */
        font-size: .84em;
    }
    .header1__right--cart{
        width: 58%;
    }
}

@media (max-width: 768px) {
    .header1{
        flex-direction: column;
        font-size: .8em;
        height: 5em;
    }
    .header1__right{
        width: 90%;
    }
    .header1__right--searchbox p{
        width: 150px;
    }
    .header1__right--cart{
        width: 100%;
        padding-left: 1em;
    }
}

@media (max-width: 489px) {
    .header1__right--searchbox p{
        width: 150px;
    }
    .header2__right--input{
        margin-right: 0;
    }
    .header1__right--cart{
        width: 100%;
        margin-left: -3em;
    }
    .header1__right{
        width: 100%;
    }
    .header2__right--cart p, .header2__right--bag{
        display: none !important;
    }
    .header2__right--ham{
        margin-left: -1em;
    }
}

.header2{
    display: flex;
    top: 2.6em;
    left: 0;
    width: 100%;
    /* width: 100vw; */
    justify-content: space-between;
    align-items: center;
    border: 1px solid rebeccapurple;
    color: whitesmoke;
    padding: 0 3.2em 0 4.2em;
    position: fixed;
    z-index: 100;
    background-color: rgb(17, 17, 17);
}
.header2__left{
    display: flex;
    justify-content: center;
    padding: 0.65em auto;
    width: 100%;
    margin-left: 1em;
    /* border: 1px solid firebrick; */
}
.header2__left > h1{
    font-style: italic;
    font-weight: 900;
    font-size: 3em;
    margin-left: 1em;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    cursor: pointer;
    /* border: 1px solid blue; */
}

.logo, .link-items {
    text-decoration: none;
    color: white;
}
.header2__middle{
    display: flex;
    justify-content: center;
    padding-left: 9em;
    padding: 0.65em auto;
}
.header2__lists{
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
.header2__list{
    /* border: 1px solid green; */
    margin: auto 2em;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 1.6em .5em;
    font-size: 1.1em;
    cursor: pointer;
    background-color: transparent;
    transition: background-color .5s;
}
.header2__list:hover{
    text-decoration: underline;
    background-color: #8a5a5d;
}

.header2__right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    /* border: 1px solid darkgoldenrod; */
}
.header2__right--ham{
    display: none !important;
}
.header2__right--searchbox{
    display: flex;
    align-items: center;
}
.header2__right--input{
    /* border: 1px solid teal; */
    opacity: 0 !important;
    width: 1em;
    transition: opacity 2s ease-in-out;
    transition: width .5s ease-in-out;
}
.header2__right--searchbox:hover > .header2__right--input{
    opacity: 1 !important;
    width: 8.8em;
    color: whitesmoke;
    font-weight: 300;
    background-color: rgba(250,188,191, .8);
    border-radius: 5px;
    padding-left: 1em;
}
.header2__right--search{
    width: 60px !important;
    height: 40px !important;
    cursor: pointer;
    /* margin-right: 1em !important; */
    /* border: 1px solid khaki; */
}
.header2__right--cart{
    display: flex;
    align-items: center;
}
.header2__right--cart p{
    font-size: .9em;
}

.header2__right--bag{
    /* border: 1px solid red; */
    margin-left: 15px;
    cursor: pointer;
    color: #fabcbf;
    width: 30px !important;
    height: 30px !important;
}

@media (max-width: 1080px) {
    .header2{
        /* width: 55%; */
        font-size: .9em;
        padding: auto 2em;
    }
    .header2__left > h1{
        font-size: 2.5em;
    }
    .header2__middle{
        padding-left: 4em;
        justify-content: flex-start;
    }
    .header2__right--searchbox, .header2__right--cart{
        margin: auto -.5em;
    }
    .header2__right--searchbox:hover > .header2__right--input{
        width: 6em;
    }
}
@media (max-width: 880px) {
    .header2{
        /* width: 55%; */
        font-size: .7em;
        margin-top: 1em;
        padding: auto 2em;
    }
    .header2__left > h1{
        font-size: 2.5em;
    }
    .header2__middle{
        padding-left: 4em;
        font-size: 1em;
        justify-content: flex-start;
    }
    .header2__right--searchbox, .header2__right--cart{
        margin: auto -.5em;
        font-size: 1em;
    }
    .header2__right--searchbox:hover > .header2__right--input{
        width: 6em;
    }
}
@media (max-width: 785px) {
    .header2__lists{
        display: none;
    }
    .header2{
        z-index: 99;
        margin-top: 1em;
    }

    .header2__right--ham{
        display: block !important;
        position: fixed;
        margin-left: 1em !important;
    }
    .header2__right--searchbox:hover > .header2__right--input{
        width: 15em;
    }
    .header2__right--search{
        margin-right: .1em;
    }
    .header2__right--cart p{
        font-size: 1.3em;
        width: 100px;
    }
    .header2__right--bag{
        /* border: 1px solid red; */
        margin: auto -.1em auto -.7em !important;
    }
}

@media (max-width: 768px) {
    .header2{
        margin-top: 3em;
        height: 5em;
    }
}